<body>
    <ng-container *ngComponentOutlet="modal"></ng-container>
    <div id="araoHeader">
        <span class="araotitle">{{ productKeyboardCommonService.keyboardTypeInfoList[productKeyboardCommonService.keyboardType].keyboardTitle | translate }}</span>

        <div class="footer">
            <div class="araotextbox">{{ keyboardCommon.inputstring }}</div>
        </div>
        <div class="footer">
            <div class="araobutton gray" (click)="delCharactor()" translate> CustomKeyboardDelete </div>
            <span class="araobutton gray" (click)="delAllString()" translate> CustomKeyboardDeleteAll </span>
        </div>
        
        <div class="footer">
          <ng-container *ngFor="let i of keyboardCommonStrings.keyboardPattern[productKeyboardCommonService.keyboardType]; index as j">
               <span *ngIf="currentKeyboard == j" class="araotub active">{{ i | translate }}</span>
               <span *ngIf="currentKeyboard != j" class="araotub nonactive" (click)="setCurrentKeyboard(j)">{{ i | translate }}</span>
           </ng-container>
        </div>
    </div>
    
    <div id="araoContent">
      <div class="footer">
        <span class="araobutton gray" (click)="addCharactor(keyboardCommonStrings.keyboard[productKeyboardCommonService.keyboardType][currentKeyboard][j])" *ngFor="let i of keyboardCommonStrings.keyboard[productKeyboardCommonService.keyboardType][currentKeyboard]; index as j">
          {{ i }}
        </span>
      </div>
        <div class="footer">
            <div class="araobutton">↓Debug用↓</div>
        </div>

        <div class="footer">
            <span class="araobutton gray" (click)="addCharactor(keyboardCommonStrings.kanaLists[j])" *ngFor="let i of keyboardCommonStrings.kanaLists; index as j">
        {{ keyboardCommonStrings.kanaLists[j] }}
    </span>
        </div>

        <div class="footer">
            <span class="araobutton gray" (click)="addCharactor(keyboardCommonStrings.alphabetCapitalLists[j])" *ngFor="let i of keyboardCommonStrings.alphabetCapitalLists; index as j">
        {{ keyboardCommonStrings.alphabetCapitalLists[j] }}
    </span>
        </div>

        <div class="footer">
            <span class="araobutton gray" (click)="addCharactor(keyboardCommonStrings.numberLists[j])" *ngFor="let i of keyboardCommonStrings.numberLists; index as j">
            {{ keyboardCommonStrings.numberLists[j] }}
        </span>
        </div>

        <div class="footer">
            <span class="araobutton gray" (click)="addCharactor(keyboardCommonStrings.charsLists[j])" *ngFor="let i of keyboardCommonStrings.charsLists; index as j">
                {{ keyboardCommonStrings.charsLists[j] }}
            </span>
        </div>

        <div class="button">
            <div class="button" (click)="save()"routerLink="/products">OK</div>

        </div>
        <div class="button">
            <div class="button" routerLink="/products" translate> CommonCancel </div>

        </div>
    </div>
</body>