.edit-line {
    display: flex;
    align-items: center;
    padding: 16px 0;
    width: 100%;
}

#araoHeader {
    height: 270px;
}

#araoContent {
    position: absolute;
    top: 270px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.araotitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 20px;
    padding: 12px;
    background-color: rgb(25, 14, 126);
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
    &.okbutton {
        align-items: right;
    }
}

.araotextbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.araotub {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #C0C0C0;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    &.active {
        background-color: #2196F3;
        color: #FFFFFF;
    }
    &.nonactive {
        background-color: #808080;
    }
}

.araobutton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin: 10px;
    padding: 10px;
    background-color: #C0C0C0;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    &.gray {
        background-color: #eeeeee;
    }
}

.footer {
    display: flex;
    justify-content: center;
}