<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(0)">
    販売店名
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(1)">
    サービス店名
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(2)">
    サービス店TEL
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(3)">
    販売店TEL
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(4)">
    製造No.情報
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(5)">
    形名情報(マルチ)
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(6)">
    形名情報(スリム)
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(7)">
    ﾘﾓｺﾝ名称
</div>
<div class="button" [routerLink]="['/products', 'keyboard']" (click)="goKeyboard(8)">
    BLEﾃﾞﾊﾞｲｽ名称
</div>